# DO NOT COMMIT ENV VARS VALUES IN THIS FILE
export DOMINO_API_HOST=
export DEV_ACCESS_TOKEN=
export AUTOML_STANDALONE_MODE="false" # recommended when DOMINO_API_HOST is set
export DOMINO_ENVIRONMENT_ID="" # for job launching
export DOMINO_ENVIRONMENT_REVISION_ID="" # for job launching

# for data profiling domino jobs
export MLFLOW_TRACKING_URI=
export MLFLOW_TRACKING_TOKEN=$
